<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="dream z">
    <meta charset="utf-8">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://www.xungongming.cn/">
    <meta name="apple-itunes-app" content="app-id=456823345">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>寻共鸣</title>
    <meta name="keywords" content="冷笑话精选,冷笑话,笑话,冷笑话大全,幽默,段子,糗事,冷气,搞笑">
    <meta name="description" content="每日奉送最新、最劲爆的冷笑话，绝对是你居家旅行，行走江湖的必备猛药！期待各路高手前来分享冷笑话，我们鼓励投稿，善待你的每一个评论，速来报道吧。">
    <link href="/static/global.css" rel="stylesheet" type="text/css">
    <meta property="wb:webmaster" content="21ea5cf69932c256">
</head>
<body>
<script>
var gp={
	location:'index_feedback'
}
</script>
<div class="layout feedback" id="feedback"><!-- head start -->
    <div class="layHeader">
        <a href="http://www.xungongming.cn/" class="headerActLeft icoHeadAct icoHeadBack"></a>
        <a href="javascript:void(0)" data-confirm="true" class="headerActTop icoHeadAct icoHeadSubmit"></a>
        <h1><p class="headerTxtBox titTxt"><span class="headerTxt">反馈</span></p></h1>
    </div><!-- head end -->
    <!-- main content start -->
    <div class="layMain">
        <p class="feedbackTit">感谢使用寻共鸣！欢迎将意见反馈给我们。</p>
        <textarea name="text" data-content="true"></textarea>
        <p class="feedbackTit">联系方式</p>
        <input type="text" data-email="true" name="email" placeholder="Email/手机">
    </div><!-- main content end -->
</div>

<script src="/static/zepto.js"></script>
<script src="/static/global.js"></script>
<script src="/static/jquery.scrollLoading.min.js"></script>
<script src="/static/touch.js"></script>
</body>
</html>
